.remove-btn {
  margin-right: 0.5rem;
}

/* Have shopping list items fade in and out on add/delete */
.fade-enter { 
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit { /* start exit */
  opacity: 1;
}
.fade-exit-active {  /* end exit */
  opacity: 0.01;
  transition: opacity 1000ms ease-out;
}